#header{
    margin-top: 5rem;
}

.header {
    height: 35rem;
    background: url("header.png") no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2rem;
}

/*=============== SCREENS ===============*/
@media screen and (max-width: 768px) {
    .header {
        height: 20rem;
        border-radius: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    #header{
        margin-top: 5rem;
    }

    .header {
        height: 13rem;
        border-radius: 1rem;
        width: 100%;
        background-size:cover;
    }
}

@media screen and (max-width: 350px) {
}